:root {
  /*colors*/
  /*https://www.canva.com/colors/color-wheel/print/7b29d6+d67b29+29d67b/*/
  --dominantColor: #29d67b; /* var(--dominantColor); */
  --secondaryColor: #7b29d6; /* var(--secondaryColor); */
  --accentColor: #d67b29; /* var(--accentColor); */

  /*box shadow */
  /*cssmatic*/
  /*brumm.af/shadows*/
  /* vertical, horizontal, blur, spread, color+opacity */
  --boxShadow: 0 0 20px rgba(0, 0, 0, 0.35); /* var(--boxShadow); */
}
